    <div class="main">
        <div class="container">
            <h1>Please select your role</h1>
            <div class="role-selection">
                <div class="role">
                    <input type="radio" id="student" name="role" value="student">
                    <label for="student">
                        <div class="icon student-icon"></div>
                        <span>Student</span>
                    </label>
                </div>
                <div class="role">
                    <input type="radio" id="teacher" name="role" value="teacher" checked>
                    <label for="teacher">
                        <div class="icon faculty-icon"></div>
                        <span>Teacher</span>
                    </label>
                </div>
                <div class="role">
                    <input type="radio" id="admin" name="role" value="admin">
                    <label for="admin">
                        <div class="icon staff-icon"></div>
                        <span>Admin</span>
                    </label>
                </div>
            </div>
            <button class="continue-button"> <a style="text-decoration: none; color: white;" href="/login" (click)="getRole()">Continue</a></button>
        </div>
    
    
    
    
    </div>
    