<div class="container">
    <div class="header">
        <h5>Users</h5>

    </div>
    <div class="header_search">
        <nav style="display: flex;align-items: center;">
            Home / All Users
        </nav>

        <div class="search_add">
            <input type="text" placeholder="Search by course name" [(ngModel)]="search" (input)="getAllUsers(role)" />

            <button class="add_course_btn" (click)="addUser()"> 
                <mat-icon aria-hidden="false"
                    aria-label="Example home icon" fontIcon="add" style="color:white"></mat-icon> Add a new user
            </button>

        </div>


    </div>
    <mat-tab-group style="width: 100%;" (selectedTabChange)="onTabChange($event)">
        <mat-tab label="Admins" class="tabs">

            <div style="display: flex; width: 100%; margin-top: 20px;">

                <div
                    style="background-color: #11101D; width: 20px; border-top-left-radius: 5px; border-bottom-left-radius: 5px;">
                </div>
                <ag-grid-angular class="ag-theme-quartz" [pagination]="pagination" [paginationPageSize]="paginationSize"
                    style="height: 300px; width:100%" [rowData]="rowData" [columnDefs]="colDefs" />
            </div>
        </mat-tab>
        <mat-tab label="Teachers" class="Tabs">

            <div style="display: flex; width: 100%; margin-top: 20px;">

                <div
                    style="background-color: #11101D; width: 20px; border-top-left-radius: 5px; border-bottom-left-radius: 5px;">
                </div>
                <ag-grid-angular class="ag-theme-quartz" [pagination]="pagination" [paginationPageSize]="paginationSize"
                    style="height: 300px; width:100%" [rowData]="rowData" [columnDefs]="colDefs" />
            </div>
        </mat-tab>

        <mat-tab label="Students" class="Tabs">

            <div style="display: flex; width: 100%; margin-top: 20px;">


                <div
                    style="background-color: #11101D; width: 20px; border-top-left-radius: 5px; border-bottom-left-radius: 5px;">
                </div>
                <ag-grid-angular class="ag-theme-quartz" [pagination]="pagination" [paginationPageSize]="paginationSize"
                    style="height: 300px; width:100%" [rowData]="rowData" [columnDefs]="colDefs" />
            </div>
        </mat-tab>

    </mat-tab-group>




</div>