<div style="display: flex; justify-content: space-evenly; ">
    <mat-icon aria-hidden="false" aria-label="edit icon" fontIcon="edit" (click)="editCourse()" style="color:#b4b3b3; cursor: pointer;"></mat-icon>
    <mat-icon aria-hidden="false" aria-label=" view icon" (click)="viewCourse()" fontIcon="visibility" style="color:#b4b3b3; cursor: pointer;"></mat-icon>
    <mat-icon aria-hidden="false" aria-label="home icon" (click)="deleteCourse()" fontIcon="delete" style="color:#e80a0a; cursor: pointer;"></mat-icon>
</div>
